// Here you can add other styles
.dense-form-group {
  margin: 0
}

.form-control {
  color: #000000;
}

.form-control:focus {
  color: #000000;
}

.form-control[readonly] {
  background-color: #fff;
}

html:not([dir="rtl"]) .form-check-input {
  margin-left: 1.25rem;
}